
    <h1>Chat for {{course}}</h1>

    <div id="chat-container">
        <div id="chat-messages">
            {{#each messages}}
            <p><span class="chat-username">'{{this.user}}':</span> {{this.text}} - ({{this.timestamp}})</p>
            {{/each}}
        </div>
        <form id="chat-input" action="/chat/{{course}}" method="POST">
            <input type="text" name="message" id="message-input" placeholder="Type your message..." required>
            <button type="submit" id="send-button">Send</button>
        </form>
    </div>

    <a href="/chatSelect">Back</a>
