<h1>Delete Your Reviews</h1>

<p id="error">{{error}}</p>

{{#if reviews}}
  {{#each reviews}}
    <div class="review">
        <h2>{{courseName}}</h2>
        <h3>{{professorName}}</h3>
        <p>{{date}}</p>
        <p>Rating: {{rating}}</p>
        <p>Difficulty: {{difficulty}}</p>
        <p>Description: {{reviewBody}}</p>
        <form action="/delete/{{_id}}" method="POST">
            <input name="switch" value="delete" hidden>
            <input name="delete-button" type="submit" value="Delete">
        </form>
    </div>
  {{/each}}
{{/if}}

<a href="/home">Back</a>