<h1>Professors for {{courseName}}</h1>

<p id="error">{{error}}</p>

{{#each professors}}
    <div class="professor">
        <h3>{{name}}</h3>
        {{#if averageRating}}
        <p>Rating: {{averageRating}}</p>
        <p>Difficulty: {{averageDifficulty}}</p>
        {{else}}
        <p>This professor no longer has any reviews.</p>
        {{/if}}
    </div>
{{/each}}

<a href="/bestProfessors">Back</a>