<h1>Reviews for {{professorName}}</h1>
<h2>Average Rating: {{rating}}</h2>
<h2>Average Difficulty: {{difficulty}}</h2>

<p id="error">{{error}}</p>

{{#each reviews}}
    <div class="review">
        <h3>{{courseName}}</h2>
        <p>{{date}}</p>
        <p>Rating: {{rating}}</p>
        <p>Difficulty: {{difficulty}}</p>
        <p>Description: {{reviewBody}}</p>
        <a href="/report-review/{{_id}}">Report</a>
    </div>
{{/each}}

<a href="/prof">Back</a>